body{
	margin: 0px;
}

h1{
	font-family: 'Courier Prime', monospace;
	text-align: center;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0px 5px 10px 1px #888888;
	-moz-box-shadow: 0px 5px 10px 1px #888888;
	-o-box-shadow: 0px 5px 10px 1px #888888;
	background-color: rgb(93, 92, 92, .1);
	border-radius: 10px;
}

.images{
	width: 400px;
	height: 250px;
	margin: 10px;
	transition: all 1s;
}

.images:hover{
	transform: scale(1.1);
}

.location{
	width: 15px
}

.inline{
	display: inline-block;
}

.loct{
	text-align: center;
}

p{
	font-family: "Gill Sans", sans-serif;
	font-size: 1em;
}

footer{
	font-family: "Gill Sans", sans-serif;
	text-align: center;
	margin-top: 15px;
}

.connectlist{
	display: inline-block;
}

.connectimage{
	width: 40px;
}

