.Image-preview {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  overflow: hidden;

  & .fa-times {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 1.5rem;
    color: #fff;
    z-index: 6;
    cursor: pointer;
    padding: 1rem;
  }

  & img {
    position: absolute;
    height: 70%;
    width: auto;
    @media screen and (max-width: 726px) {
      width: 100%;
    }
  }

  & p {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0.5rem;
    background-color: #00000073;
    margin-bottom: 1rem;
  }

  & .fa-chevron-left {
    left: 0rem;
  }

  & .fa-chevron-right,
  .fa-chevron-left {
    width: 7rem;
    height: 100%;
    position: absolute;
    right: 0;
    color: #ffffff94;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #ffffff05;
    display: flex;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
    @media screen and (max-width: 1000px) {
      opacity: 1;
    }
  }

  &--active {
    display: flex;
  }
}
