body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Courier Prime", monospace;
  background-color: #d3d3d3;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) -14%,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 0, 0, 0.3) 114%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
